



@import 'fonts';
@import 'window-carcass';
@import 'article';

// body {
//   color: #222;
//   font-family: sans-serif;
//   line-height: 1.5;
//   margin: 1rem;
//   max-width: 768px;
// }

body {
	background-color: teal;
	font-family: "Pixelated MS Sans Serif", Arial;
	font-size: 11px;
}

