
.window {
	background: var(--window_background);
	box-shadow: inset -1px -1px var(--window-box-shadow-four),inset 1px 1px var(--window-box-shadow-three),inset -2px -2px var(--window-box-shadow-two),inset 2px 2px var(--window-box-shadow-one);
	padding: 3px;
}


.window-body {
	width: 98%; 
	// ^^^ wtf????
	margin: 2px;
	padding: 3px;
	background-color: var(--window-article-background);
	box-shadow: inset -1px -1px var(--window-box-shadow-one),inset 1px 1px var(--window-box-shadow-two),inset -2px -2px var(--window-box-shadow-three),inset 2px 2px var(--window-box-shadow-four);
	p {
		font-size: 12px;
	}
}


.title-bar {
	align-items: center;
	background: linear-gradient(90deg, var(--linear-gradient-left), var(--linear-gradient-right));
	display: flex;
	justify-content: space-between;
	padding: 3px 2px 3px 3px;
}

.title-bar-text {
	color: white;
	font-weight: 200;
	letter-spacing: 0;
	margin-right: 24px;
}

.window-menu p { 
	margin: 6px 2px 3px 8px;
	display: inline-block;
	a {
		text-decoration: none;
	}
}



.divider {
  border-top: 1px solid gray;
  border-bottom: 1px solid rgb(215, 215, 215);
  box-shadow: inset -1px -1px var(--window-box-shadow-four),inset 1px 1px var(--window-box-shadow-three),inset -2px -2px var(--window-box-shadow-two),inset 2px 2px var(--window-box-shadow-one);
  margin: 2px 5px;
  clear: right;
}

.field-row {
	align-items: center;
	display: flex;
}


button {
	border: 0;
	box-shadow: inset -1px -1px var(--window-box-shadow-four),inset 1px 1px var(--window-box-shadow-three),inset -2px -2px var(--window-box-shadow-two),inset 2px 2px var(--window-box-shadow-one);
	box-sizing: border-box;
	min-height: 23px;
	min-width: 30px;
	text-shadow: 0 0 #222;
}

.address-bar {
	align-items: center;
	display: flex;
	p {
		margin: 6px 2px 3px 8px;
	}
}

input {
	line-height: 1;
	height: 21px;
	box-shadow: inset -1px -1px var(--window-box-shadow-one),inset 1px 1px var(--window-box-shadow-two),inset -2px -2px var(--window-box-shadow-three),inset 2px 2px var(--window-box-shadow-four);
	box-sizing: border-box;
	/* padding: 3px 4px; */
	width: 80%;
	border: none;
}


a {
	color: var(--link-color);
	p {
		color: var(--link-color);
	}
}