<div class="title-bar">
		<div class="title-bar-text">
			Decentralize The Web @ UTRGV
		</div>
	</div>
	<div class="window-menu">
		{{ with site.Menus.main }}
			{{ range . }}
				<p>
					<a href="{{ .URL }}" aria-label="{{ .Name }}">
						{{ .Name }}
					</a>
				</p>
			{{ end }}
		{{ end }}
	</div>
<div class="divider"></div>
<div class="address-bar">
	<p>
		Current location:
	</p>
	<input type="text" placeholder="{{ $.Page.Permalink | absURL }}" disabled readonly />
</div>
<div class="divider"></div>